<%
  editable = local_assigns[:editable]
  job = local_assigns[:job]
%>
<div class="job-item">
  <div class="jobs-list-title">
    <%= link_to job.job_title, job %>
    <p class="jobs-list-date-posted"><span class="glyphicon glyphicon-time"></span>
    Posted on
    <%= job.date_posted.strftime("%d.%m.%Y") %>
    </p>				
  </div>
  <div class="jobs-list-company-name">
    <p><strong>Company: <%= User.find(job.user_id).username %></strong></p>
  </div>
  <% if current_user && editable %>
    <div class="jobs-list-tool" >
      <%= link_to "Edit", edit_user_job_path(job.user_id, job.id) , class: "btn btn-primary" %>
      <%= link_to "Destroy", user_job_path(job.user_id, job.id),
            method: :delete, class: "btn btn-danger" %>
      <hr>
    </div>
  <% end %>
</div>