
	<div class="container">

		<!-- Include sidebar for user -->	
		<%= render "users/sidebar" %>
	
		<% if !@jobs.empty? %>
			
			<div class="jobs-list <%= classDisplayForLoggedIn? %>" %>
				<% @jobs.each do |job| %>
					<div class="jobs-list-title">
						<%= link_to job.job_title, job %>
						<p class="jobs-list-date-posted"><span class="glyphicon glyphicon-time"></span>
						Posted on
						<%= job.date_posted.strftime("%d.%m.%Y") %>
						</p>				
					</div>
					<div class="jobs-list-company-name">
						<p><strong>Company: <%= User.find(job.user_id).username %></strong></p>
					</div>
					<% if logged_in? %>
						<div class="jobs-list-tool" >
							<%= link_to "Edit", edit_user_job_path(job.user_id, job.id) , class: "btn btn-primary"%>
							<%= button_to "Delete", user_job_path(job.user_id, job.id),method: :delete, data: {confirm: "Are you sure?"}, class: "jobs-list-tool-del-btn btn btn-primary " %>
							<hr>
						</div>
					<% end %>
				<% end #end @jobs.each %>
			</div><!-- End jobs-list -->

		<% else %>

			<div class="view-content center jumbotron <%= classDisplayForLoggedIn? %>">
			<h1>Welcome to the Job Board</h1>
			<h2>You have not posted any jobs yet</h2>
			</div>

		<% end #end if !@jobs.empty? %>

	</div><!-- End container-->