<%= form_for (@user), url: {action: "create"}, class: "form-horizontal" do |f| %>
	<div class="form-signup col-sm-offset-2 col-sm-7">
		<div class="form-signup-element">
			<h2>Sign up to JobApp</h2>
			<hr/>
		</div>
		
		<div class="form-signup-element">
			<%= f.label :email, "Email: "%>
			<%= f.text_field :email, class: "form-control", required: true %>
		</div>
		<div class="form-signup-element">
			<%= f.label :username, "Company Name: " %>
			<%= f.text_field :username, class: "form-control", required: true%>
			
		</div>

		<div class="form-signup-element">
			<%= f.submit "Create My Account", class: "col-sm-12 btn btn-primary"%>
		</div>

	</div>
<% end %>

