<div class="signup-page">
	<h2 class="text-center">Sign up to JobApp</h2>

	<%= form_for @user, url: { action: "create" },
				html: { class: "form-horizontal", id: "new_user"} do |f| %>
		<div class="form-group">
			<%= f.label :email, "Email: "%>
			<%= f.text_field :email, class: "form-control", id: "new_user_email",required: true %>
		</div>
		<div class="form-group">
			<%= f.label :username, "Company Name: " %>
			<%= f.text_field :username, class: "form-control", required: true %>
		</div>
		<div class="form-group">
			<%= f.submit "Create My Account", class: "col-sm-12 btn btn-primary" %>
		</div>
	<% end %> <%# end - form_for %>
</div>

