<%= form_for (@user), url: {action: "create"}, html:{class: "form-signup form-horizontal col-sm-offset-2 col-sm-7", id: "new_user"} do |f| %>
		<div class="form-signup-element">
			<h2>Sign up to JobApp</h2>
			<hr/>
		</div>
		
		<div class="form-signup-element">
			<%= f.label :email, "Email: "%>
			<%= f.text_field :email, class: "form-control", id: "new_user_email",required: true %>
		</div>
		<div class="form-signup-element">
			<%= f.label :username, "Company Name: " %>
			<%= f.text_field :username, class: "form-control", required: true%>
			
		</div>

		<div class="form-signup-element">
			<%= f.submit "Create My Account", class: "col-sm-12 btn btn-primary"%>
		</div>
<% end %>

