
	<div class="container">

		<% if current_user.role.downcase == "company" %>

			<!-- Include sidebar for company -->	
			<%= render "users/sidebar" %>

		<% end # end if user.role?company %>
		
		<div class="profile-display view-content col-sm-8">
			<p><strong>Name: </strong><%= current_user.username %></p>
			<p><strong>Email: </strong><%= current_user.email %></p>
			<p><strong>Access Code: </strong><%= current_user.access_code %></p>
			<div class="profile-display-tool" >
					<%= link_to "Edit", edit_user_path(current_user) , class: "btn btn-primary"%>
			</div>			

		</div><!-- End profile-display -->

	</div><!-- End container-->

<%= console%>