<div class="show-access-code-page">
	<%= render partial: 'layouts/error'%>

	<h2><%= user_existed? %></h2>
	<hr/>
	
	<div>
		<p><strong>Email: </strong> <%= @user.email %> </p>
		<p><strong>Company Name: </strong> <%= @user.username %> </p>
		<p><strong>Access Code: </strong> <%= @user.access_code %> </p>
		
	</div>
</div>