<%= render 'application/error'%>

<div class="form-signup col-sm-offset-2 col-sm-7">
		<h2><%= user_existed? %></h2>
		<hr/>
		<p><strong>Email: </strong> <%= @user.email %> </p>
		<p><strong>Company Name: </strong> <%= @user.username %> </p>
		<p><strong>Access Code: </strong> <%= @user.access_code %> </p>
		
</div>