<!DOCTYPE html>

<html>

<head>
 	<title>Job Board</title>
	<!--
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 	<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	 -->
 	<%= stylesheet_link_tag "application", media: "all" %>
 	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
</head>

<body>

	
		<%= render 'layouts/header' %>
		
		<%= render partial: 'layouts/sidebar' %>
		
		<%= yield %>
	
</body>

</html>
